html, body, #wrap {
	height: 100%;
	background-color: #ebebeb;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans'!important;
        font-weight: 300!important;
}

body > #wrap {
	min-height: 100%;
	height: auto;
	padding-bottom: 60px;
}


a.navbar-brand {
    padding-left: 40px;
    background: url('../img/logo.png') no-repeat 5px center !important;
    font-size: 10px;
    padding-top: 24px;
}
/**
** DASHBOARD
**/

#dashboardForm #icon{
	font-family:"FontAwesome";
}

.iconSet{
	max-height:200px;
	overflow:auto;
}
.iconSet i{
	cursor:pointer;
	padding:5px;
	color:#444444;
}
.iconSet i:hover,.iconSet i[data-selected]{
	color:#ffffff;
	background-color:#38B1DB;
}


#widgetList{
	width:100%;
	display: block;
	margin-top: 10px;
}

#dashboard{
				list-style-type:none;
				margin:20px 0 0 0;
				padding:0;
			}
			#dashboard > li{
				float:left;
			}
			
			#dashboardView{
				background-color: #4d4d4d;
				list-style-type: none;
				color: #fafafa;
				margin: 0;
				padding: 0;
				width: 100%;
				position: absolute;
				left: 0;
				top: 50px;
				border-top: 4px solid #747474;
			}
			#dashboardView li{
				padding:10px;
				cursor:pointer;
				float:left;
				transition:background 0.2s ease-in-out;
			}
			#dashboardView li:hover{
				background-color:#6b6b6b;
			}
			
			#dashboardView li[data-selected]{
				background-color:#5A5A5A;
				text-shadow: 0px 0px 5px rgba(55, 156, 255, 1),0px 0px 15px rgb(55, 220, 255);
				color:#ffffff;
			}
			
			.widget{
				transition:width 0.2s linear,height 0.2s linear,opacity 0.2s linear;
				display: table;
				padding:13px 0;
			}
			
			.widget_window{
				box-shadow: 0 0 5px 0 #cecece;
				margin: 0 0 10px;
				padding: 0;
				text-align: left;
				transition: opacity 0.2s linear 0s;
				z-index: 100;
				display: table-cell;
			}
			
			.widget_header{
				background-color: #50597b;
				padding: 5px;
				border-radius: 0;
				box-sizing: border-box;
				color: #ffffff;
				cursor: move;
				transition:background 0.2s linear;
			}
			
			.widget_options{
				float: right;
				margin: -5px 0 0 10px;
				padding: 0;
			}
			.widget_options li{
				cursor: pointer;
				display: inline-block;
				opacity: 0.5;
				padding: 5px;
				transition: opacity 0.2s linear 0s;
				vertical-align: top;
			}
			.widget_options li:hover{
				opacity: 1;
			}
			.widget_content{
				background-color: #ffffff;
				border-top:0;
				overflow:auto;
				max-width:100%;
				max-height:400px;
				padding: 0px;
			}
			
		
			
			.widget_dropper{
				display: table-cell;
				opacity:0;
				padding: 0 10px;
				text-align: center;
				transition: width 0.2s linear, opacity 0.2s ease-in-out;
				vertical-align: middle;
				width: 5px;
				
			}
			.widget_dropper.dragover:before{
				color: #cecece;
				content:'\f256';
				font-family:'FontAwesome';
				font-size: 25px;
			}
			
			.widget_dropper.dragover{
				opacity:0.8;
				width: 30px;
			}

			.widgetDescription{
				margin-left:20px;
				float:left;
				 max-width: 400px;
			}
			.widgetDescription h1{
				margin-top: 0;
			}
			.widgetColor{
				display: inline-block;
				vertical-align: top;
				box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
				padding-right: 5px;
				color:#333333;
			}
			.widgetColor small{
				width:20px;
				height:20px;
				border-radius: 4px 0 0 4px;
				display: inline-block;
				margin-right: 5px;
				vertical-align: top;
			}
			@media only screen and (max-width: 500px) {
				.widget_dropper{
					display: none;
				}
				
				.widget,.widget_window{
					display: block;
					width:100%;
				}
			}


/**
** PROJECT STYLE
**/

   
#loginForm{
	color:#ffffff;
}
#loginForm input[type="text"],#loginForm input[type="password"]{
	background:#333333;
	color:#fefefe;
	padding:2px 5px;
	border-radius:0;
}

#userBar img
{
    margin-left: -40px;
    position: absolute;
    top: 10px;
}

.avatar-mini{
 	border-radius: 30px;
    height: 30px;
    width: auto;
}
.avatar{
 	border-radius: 50px;
    height: 50px;
    width: auto;
}


#ranks .rightColumn{
	width:100px;
	text-align:center;
}

#plugins  > li{
	list-style-type:none;
	position:relative;
}
#plugins  > li .activator{
	position:absolute;
	right:10px;
	top:10px;
}
#plugins li ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.preloader{
	display:none;
	background : url('../img/preloader.gif') center center no-repeat ;
	width:64px;
	height:64px;
	margin:10% auto;
}

.footer{
	position: relative;
	height: 60px;
	margin-top: -60px;
	padding: 20px 0;
	color: #ffffff;
	text-align: center;
}

/**
** TOOLS
**/

.noLabel{
	margin-top:24px;
}

.right{
	float:right!important;
}

.left{
	float:left!important;
}

.pointer{
	cursor:pointer;
}

.clear{
	clear:both;
}


.clearFix:after{
	clear:both;
	content : '';
	display: block;
}

.noDisplay{
	display:none;
}

table  td.option{
	width:67px;
}
table  td.option.option-3{
	width:101px;
}
/**
** LIBRARIES FIXES
**/


.btn-mini{
	padding: 0 5px;
}

.toggle input[type="checkbox"]:checked + .handle::before, .toggle input[type="radio"]:checked + .handle::before{
	background-color:#C9DA20;
	width:30px;
}

.toggle input[type="checkbox"]:checked + .handle::after, .toggle input[type="radio"]:checked + .handle::after{
	left:20px;
}

.toggle{
	cursor:pointer;
}

.toggle .handle{
	height:22px;
	width: 40px;
	background-color:#cecece;
}
.toggle input[type="checkbox"]:checked + .handle::after, .toggle input[type="radio"]:checked + .handle::after{
	box-shadow:none;
}
.toggle .handle::after, .toggle .handle::before{
	height: 20px;
	width: 20px;
	box-shadow :none;
	background-color:#ffffff;
}

a.dropdown-toggle:after{
	content:'\f0d7';
	padding-left:5px;
	font-family:'FontAwesome';
}

.input-mini{
	max-width:60px;
}
.input-medium{
	max-width:150px;
}

.ui-helper-hidden-accessible div{
display:none;
}
.ui-autocomplete{
	list-style-type:none;
	background:#ffffff;
	box-shadow:0 0 5px rgba(0,0,0,0.4);
	max-width:300px;
	margin:0;
	z-index: 2000;
	padding:0;
}
.ui-autocomplete li{
	padding:10px;
	transition:all 0.2s eas-in-out;
	cursor:pointer;
	color:#222222;
	min-height: 70px;
	margin:0;
}
.ui-autocomplete li img{
	margin: 0 15px 0 0;
}
.ui-autocomplete li small{
	color:#cecece;
	font-style: italic;
}
.ui-autocomplete li:hover{
	background-color:#4FC1E9;
	color:#ffffff;
}
.ui-autocomplete li:hover a{
	color:#ffffff;
}

.dropdown-menu li a{
	cursor:pointer;
}


.list-group-item.active i{
	color:#ffffff;
}

.navbar {
	border-radius:0px;
}


/**
** RESPONSIVE
**/

@media (max-width: 767px) {

	#dashboardView li{
		display:block;
		float:none;
	}

    #loginForm  {
        width:100%;
        display:block;
        margin:0;
        padding:10px;
        box-sizing:border-box;
    }
    #loginForm .btn{
        padding:5px;
    }
    #loginForm input{
        width:100%;
		max-width:100%;
        padding:5px;
        box-sizing:border-box;
        margin:5px 0 5px 0;
    }
}


