<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{#PROGRAM_NAME} {#PROGRAM_VERSION}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    {function="Plugin::callLink()"}
    {function="Plugin::callCss()"}

    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>
    <div class="hidden" id="UPDATE_URL">{#UPDATE_URL}</div>
    <div class="hidden" id="PROGRAM_VERSION">{#PROGRAM_VERSION}</div>
    <div class="navbar navbar-inverse navbar-fixed-top" id="header">
      
      <div class="navbar-inner">

        <div class="container">

          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
           
           <li><div class="logo"><span class="badge badge-warning" id="notification">&nbsp;</span>{#PROGRAM_VERSION}</div></li>
          {if="$myUser!=false"}
              <li><a href="index.php"><i class="icon-home"></i> Accueil</a></li>
              {loop="menuItems"}
              <li>{$value.content}</li>
              {/loop}
              {if="$myUser!=false && $myUser->can('configuration','r')"}
                <li><a href="setting.php"><i class="icon-wrench"></i> Configuration</a></li>
              {/if}
              {if="$myUser!=false"}

            
              <li class="infobulle"  title="Connecté avec {$myUser->getFullName()} ({$rank->getLabel()})"><a href="action.php?action=logout"><i class="icon-remove-circle"></i> Déconnexion</a></li>
              {/if}
          {/if}
           </ul>
      </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>



    <div id="body" class="container">

  {if="$error!=false"}
  <div class="alert alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {$error}
  </div>
  {/if}
  {if="$notice!=false"}
    <div class="alert alert-info fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {$notice}
  </div>
  {/if}

  {function="Plugin::callHook("header_post_notices", array())"}