{include="header"}


<div class="row">
    {function="Plugin::callHook("home", array($_))"}
    
    {if="!isset($_['module']) || $_['module']=='home'"}

    
    	<div class="span4 ">
    		<div class="flatBloc blue-color">
    		<h3><i class="icon-globe"></i> Application</h3>
			    <ul>
			    	<li><strong>Identité :</strong> {$myUser->getFullName()}</li>
			    	<li><strong>Mail :</strong> <a href="mailto:{$myUser->getMail()}">{$myUser->getMail()}</a></li>
			    	<li><strong>Token :</strong> <code>{$myUser->getToken()}</code></li>
			    	<li><a href="#myModal" role="button" data-toggle="modal" class="btn btn-primary"><i class="icon-download-alt  icon-white"></i> Installer YANA Windows</a></li>
			    </ul>
			</div>

		    <div class="flatBloc green-color">
			    <h3><i class="icon-monitor"></i> Système</h3>
			    <div id="dash_system"></div>
			</div>
		    <div class="flatBloc violet-color">
				<h3><i class="icon-switch"></i> Réseau</h3>
			    <div id="dash_network"></div>
			</div>
		</div>


	    <div class="span4">
		    <div class="flatBloc red-color">
			    <h3><i class="icon-vcard"></i> Utilisateurs</h3>
			    <div id="dash_user"></div>
		    </div>

		    <div class="flatBloc orange-color">
			    <h3><i class="icon-monitor"></i> HDD</h3>
			    <div id="dash_hdd"></div>
			</div>

			<div class="flatBloc pink-color">
			    <h3><i class="icon-install"></i> Disques</h3>
			    <div id="dash_disk"></div>
			</div>

			<div class="flatBloc black-color">
			    <h3><i class="icon-flow-cascade"></i> GPIO</h3>
			    <div id="dash_gpio"></div>
		    </div>
		</div>

	    <div class="span4">
	    	<div class="flatBloc brown-color">
		    	<h3><i class="icon-book"></i> Services</h3>
		    	<div id="dash_services"></div>
	    	</div>
	    </div>

	
	{/if}

</div>


 
<!-- Modal -->
<div id="myModal" class="modal hide fade" style="width:750px;margin-left:-375px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Installer/Lier à yana windows</h3>
  </div>
  <div class="modal-body" >
    <p>Pour avoir accès à la partie vocale, vous devez installer yana-windows. Pour cela suivez les inscructions ci dessous.</p>
	<ul>
    <li>Si ce n'est pas déja fait <a href="https://github.com/ldleman/yana-windows/archive/master.zip">téléchargez Yana Windows</a> et décompressez le.</li>
  <li>Exécutez le programme <b>"ScanSoft Virginie_Dri40_16kHz.exe"</b> pour installez la voix de yana</li>
  <li>Lancez le programme <b>"yana.exe"</b>, puis faites un clic droit sur l'îcone de yana situé dans la barre de tâche et cliquez sur 'Configuration'
  <li>Configurez 'Adresse du serveur' avec la valeur suivante : <code>{$url_link}</code></li> 
  <li>Dans le champs suivant, entrez le 'Token' d'identification suivant : <code>{$myUser->getToken()}</code></li> 
  <li>Cliquez sur enregistrer, le programme se relance et l'installation est terminée !!</li> 
</ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</div>



{include="footer"}
   