{include="header"}


<div class="row">
    {function="Plugin::callHook("home", array($_))"}
    
    {if="!isset($_['module']) || $_['module']=='home'"}

    
    	<div class="span4">
    		<strong>nb : rafraichissement toutes les 10 secondes</strong>
    		<h4>Application</h4>
			    <ul>
			    	<li><strong>Identité :</strong> {$myUser->getFullName()}</li>
			    	<li><strong>Mail :</strong> <a href="mailto:{$myUser->getMail()}">{$myUser->getMail()}</a></li>
			    	<li><strong>Token :</strong> <code>{$myUser->getToken()}</code></li>
			    	<li><a href="#myModal" role="button" data-toggle="modal" class="btn btn-primary"><i class="icon-download-alt  icon-white"></i> Installer YANA Windows</a></li>
			    </ul>

		    <hr/>
		    <h4>Système</h4>
		    <div id="dash_system"></div>

		    <hr/>
			<h4>Réseau</h4>
		    <div id="dash_network"></div>
		</div>


	    <div class="span4">
	    	
	    <h4>Utilisateurs</h4>
	    <div id="dash_user"></div>
	    
	    <hr/>
	    <h4>HDD</h4>
	    <div id="dash_hdd"></div>

	    <hr/>
	    <h4>Disques</h4>
	    <div id="dash_disk"></div>
		<hr/>
	    <h4>GPIO</h4>
	    <div id="dash_gpio"></div>
	    
	    </div>


	    <div class="span4">
	    	<h4>Services</h4>
	    	<div id="dash_services"></div>

	    </div>

	
	{/if}

</div>


 
<!-- Modal -->
<div id="myModal" class="modal hide fade" style="width:750px;margin-left:-375px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Installer/Lier à yana windows</h3>
  </div>
  <div class="modal-body" >
    <p>Pour avoir accès à la partie vocale, vous devez installer yana-windows. Pour cela suivez les inscructions ci dessous.</p>
	<ul>
    <li>Si ce n'est pas déja fait <a href="https://github.com/ldleman/yana-windows/archive/master.zip">téléchargez Yana Windows</a> et décompressez le.</li>
  <li>Exécutez le programme <b>"ScanSoft Virginie_Dri40_16kHz.exe"</b> pour installez la voix de yana</li>
  <li>Lancez le programme <b>"yana.exe"</b>, puis faites un clic droit sur l'îcone de yana situé dans la barre de tâche et cliquez sur 'Configuration'
  <li>Configurez 'Adresse du serveur' avec la valeur suivante : <code>{$url_link}</code></li> 
  <li>Dans le champs suivant, entrez le 'Token' d'identification suivant : <code>{$myUser->getToken()}</code></li> 
  <li>Cliquez sur enregistrer, le programme se relance et l'installation est terminée !!</li> 
</ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</div>



{include="footer"}
   