::-moz-selection { background: #f16529; color: #fff; text-shadow: none; }
::selection      { background: #f16529; color: #fff; text-shadow: none; }

/* =============================================================================
   En-tête
   ========================================================================== */
.loggedUserMenu{
	color:#ffffff;
	padding-top: 10px;
}
.loggedUserMenu span{
	font-weight:bold;
}
body {

    font-family: 'Open Sans';
 }

#header {
  margin-bottom:10px;
  position:relative;
}

#body {
  font-family: 'Open Sans';
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#aLogoBox {
  padding:1px;
  margin:0px;

 }
h1,h2,h3,h4{
  font-family: 'Open Sans Light',sans-serif;
  font-weight: normal;
  line-height: 100%;
}
/* =============================================================================
   Plugins
   ========================================================================== */

.pluginBloc li,.pluginBloc ul{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

.pluginBloc ul.nav li{
	padding:0 0 0 0;
	border-bottom: none;
	margin:0 0 0 0;
}

.pluginBloc ul li{
	padding:5px 0 5px 0;
	border-bottom: 1px dotted #cecece;
	margin:0 0 5px 0;
}
.pluginBloc ul li ul li{
	padding: 0;
	border-bottom: none;
	margin:0;
}
.pluginBloc ul li ul li h4,.pluginBloc ul li ul li code{
	display:inline;
}
.pluginBloc ul li ul li h4{
	font-size: 14px;
}

.bs-docs-sidebar .active a,.bs-docs-sidebar .active a:hover{
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.logoBox{
  background-color:#01A5ED;
  padding:5px;
}

.logo{
  background: url('../img/logo.png') no-repeat;
  width: 78px;
  height:29px;
  font-size: 11px;
  color:#ffffff;
  
}
.logo .badge{
  padding: 3px;
   line-height: 9px;
  font-size: 9px;
  border-radius: none;
  margin:15px 5px 0px 20px;
  visibility: hidden;
  cursor:pointer;
}

.service-active{
  color:green;
  font-weight: bold;
}

.flatBloc{
  padding:10px;
  margin:5px 0 5px 0;
  color:#ffffff;
}
.flatBloc ul{
  margin:0px;
  padding:0px;
  }
.flatBloc li{
  list-style-type: none;
  margin:7px;
}
.flatBloc a{
  color:#ffffff;

  }
  .flatBloc h3 i{
    margin-right:15px;
    line-height: 30px;
  }
.flatBloc li:before{
  content:'\e831  ';
  font-family: "fontello";
}
.violet-color{
  background-color:#A200FF;
}
.red-color{
  background-color:#E51400;
}
.blue-color{
  background-color:#1BA1E2;
}
.green-color{
  background-color:#339933;
}
.orange-color{
  background-color:#FF2E12;
}
.black-color{
  background-color:#373737;
}
.pink-color{
  background-color:#C1004F;
}
.brown-color{
  background-color:#632F00;
}
.apple-color{
  background-color:#00C13F;
}

.btn{
  background-color: none;
  background-image: none;
  border-radius: 0px;
  box-shadow: none;
}

.btn i{
  color:#222222;
  }

#footer{
  color:#ffffff;
  text-align: center;
}
#footer .navbar-inner{

line-height: 40px;
  }



code, pre {
   border-radius: 0px;
   background-color: #373737;
   color:#ffffff;
   border:none;
  }


@font-face {
    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: normal;
    src: url("../font/OpenSans-Light-webfont.eot?#iefix2013") format("embedded-opentype"), url("../font/OpenSans-Light-webfont.woff?2013") format("woff"), url("../font/OpenSans-Light-webfont.ttf?2013") format("truetype");
}

@font-face {
    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: bold;
    src: url("../font/OpenSans-Semibold-webfont.eot?#iefix2013") format("embedded-opentype"), url("../font/OpenSans-Semibold-webfont.woff?2013") format("woff"), url("../font/OpenSans-Semibold-webfont.ttf?2013") format("truetype");
}
@font-face {
    font-family: "Open Sans Light";
    font-style: italic;
    font-weight: normal;
    src: url("../font/OpenSans-LightItalic-webfont.eot?#iefix2013") format("embedded-opentype"), url("../font/OpenSans-LightItalic-webfont.woff?2013") format("woff"), url("../font/OpenSans-LightItalic-webfont.ttf?2013") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: url("../font/OpenSans-Regular-webfont.eot?#iefix2013") format("embedded-opentype"), url("../font/OpenSans-Regular-webfont.woff?2013") format("woff"), url("../font/OpenSans-Regular-webfont.ttf?2013") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    src: url("../font/OpenSans-Bold-webfont.eot?#iefix2013") format("embedded-opentype"), url("../font/OpenSans-Bold-webfont.woff?2013") format("woff"), url("../font/OpenSans-Bold-webfont.ttf?2013") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: normal;
    src: url("../font/OpenSans-Italic-webfont.eot?#iefix2013") format("embedded-opentype"), url("../font/OpenSans-Italic-webfont.woff?2013") format("woff"), url("../font/OpenSans-Italic-webfont.ttf?2013") format("truetype");
}


/* =============================================================================
   Outils
   ========================================================================== */

.hide{
	display:none;
}
.center,[class*="span"].center{
	margin:auto;
	display:block;
	float:none;
	clear: both;
}
.align-center{
	text-align: center;
}
.left{
	float:left;
}
.clear{
	clear:both;
}
.pointer{
	cursor:pointer;
}


small {
  color:#969696;
  font-style: italic;
}


.navbar .nav > li > a {
 font-size:16px;
 font-weight: normal;
 color:#ffffff;
}
.navbar .nav > li > a > i {
  margin-right: 5px;
  }

/* =============================================================================
   Style d'impression
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
